%h1 Загрузка каталога в формате *.xslx

= form_for(@catalog, url: admin_catalogs_path ) do |f|
  
  = f.text_field :name, class: 'text-field block', placeholder: "Мета­описание"

  
  = f.file_field :image, accept: ".xlsx", id: "hidden-upload-btn"

  
  %br
  = f.submit 'Загрузить', class: 'btn btn-default'