.heapBox {
	border: 1px #dadada solid;
	box-sizing: border-box;
	clear: both;
	display: inline-block;
	line-height: 35px;
	position: relative;
	width: 100%;

	@media screen and (min-width: 1024px) {
		width: 25%;

		&_short {
			width: auto;
		}

		&_normal {
			width: 35%;
		}

		&_wide {
			width: 75%;
		}
	}
}

.heapBox * {
	margin: 0;
	outline: none;
	padding: 0;
}

.heapBox.disabled .holder {
	color: #ffbc46;
}


.heapBox a {
	color: #fff;
	text-decoration: none;
}

.heapBox .holder {
	background: #fff;
	color: $darkGray;
	font-family: $fontArimo;
	font-size: 14px;
	height: 35px;
	overflow: hidden;
	text-indent: 10px;
	white-space: nowrap;

	@media screen and (min-width: 640px) {
		font-size: 16px;
	}

	@media screen and (min-width: 1024px) {
		font-size: 20px;
	}
}

.heapBox .handler {
	background-color: #188894;
	height: 35px;
	width: 35px;

	&::before {
		border-color: #fff transparent transparent transparent;
		border-style: solid;
		border-width: 8px 6px 0 6px;
		content: "";
		height: 0;
		left: 50%;
		margin-left: -6px;
		margin-top: -4px;
		position: absolute;
		top: 50%;
		width: 0;
	}
}

.heapBox .holder, .heapBox .handler {
	float: left;
	position: relative;
	z-index: 10;
}

.heapBox .holder {
	display: block;
	float: none;
	padding-right: 50px;
	text-overflow: ellipsis;
}

.heapBox .handler {
	float: none;
	position: absolute;
	right: 0;
	top: 0;
}

.heapBox div.heap {
	border: 1px #dadada solid;
	border-top: none;
	display: none;
	left: -1px;
	list-style-type: none;
	max-height: 200px;
	overflow: auto;
	position: absolute;
	right: -1px;
	top: 35px;
	z-index: 200;
}

.heapBox .heap .heapOptions {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 20;
}

.heapBox .heap a.sliderUp {
	background: #f39c12 url(../gfx/slider_arrow_up.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #d18814;
	display: block;
	height: 15px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 30;
}

.heapBox .heap a.sliderDown {
	background: #f39c12 url(../gfx/slider_arrow_down.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-top: 1px solid #d18814;
	bottom: 0;
	display: none;
	height: 15px;
	position: absolute;
	width: 100%;
	z-index: 30;
}

.heapBox .heap .heapOptions .heapOption {
	display: block;
	height: 35px;
	position: relative;
	z-index: 20;
}

.heapBox .heap .heapOptions .heapOption a {
	background: #fff;
	color: $darkGray;
	display: block;
	text-indent: 10px;
	width: 100%;
}

.heapBox .heap .heapOptions .heapOption a:hover {
	background: #dff0e6;
}

.heapBox .heap .heapOptions .heapOption a.selected {
	background: #dff0e6;
}

.heapBox .heap .heapOptions .heapOption a.disabled {
	color: #f6bb5a;
}
