%h1 Данные из хранилища
%h5
  %i Топ 10 товаров, купленных жителями не из Москвы и Питера

- if @products.empty?
  %p= link_to t('.upload_file'), new_admin_catalog_path

- else
  %table
    %thead
      %tr
        - @fields.each do |field|
          %th= t ".#{field}"

    %tbody.fallable-list
      =render @products
