.btn {
  display: inline-block;
  font-size: 120%;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  padding: 6px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1em 1em 1em 0;
  &.btn-default {
    color: #fff;
    background-color: #2d88ff;
    border-color: #306fc3;
    &:not(.btn-disabled):hover {
      background-color: #006fff;
      border-color: #005BD1;
    }
  }
  &_upload {
    &:before {
      margin-right: 0.7em;
    }
  }
  &.btn-add {
    color: #fff;
    background-color: #ff4b2d;
    border-color: #c35430;
    &:not(.btn-disabled):hover {
      background-color: #006fff;
      border-color: #005BD1;
    }
  }
  &.btn-disabled {
    background-color: #d8d8d8;
    border-color: #CCC;
    cursor: default;
  }
  &.btn-right {
    float: right;
  }
}